@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --text-color-1: #FFF;
  --text-color-2: #1B1F2B;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  z-index: 499;
}

.snp-header-wrapper {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  height: 88px;
}
.snp-header-wrapper .snp-header {
  color: var(--text-color-1);
}
.snp-header-wrapper .snp-header a {
  text-decoration: none;
  color: var(--text-color-1) !important;
}

.snp-container-1-img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
}